@model caseManagementSystem.Models.Data.CaseMaster
@{
    ViewBag.Title = "editCase";
}

<div>
    <h4>Edit a new case</h4>
</div>
<div>
    @using (Html.BeginForm("EditCase", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CreatedOn)
        @Html.ValidationSummary()
        <fieldset>
            <div class="form-group">
                <p>Case Number</p>
                @Html.TextBoxFor(m => m.CaseNumber, new { @class = "helper-format", style = "font-size: .9em, width: 20em ", value = "m.CaseNumber", @onfocus= "this.select();", @autofocus = "autofocus" })
            </div>
            <div class="form-group">
                <p>Case Name</p>
                @Html.TextBoxFor(m => m.CaseName, new { @class = "helper-format", style = "font-size: .9em, width: 20em ", value = "m.CaseName" })
            </div>
            <div class="form-group">
                <p>Filing Date</p>
                @Html.TextBoxFor(m => m.FilingDate, "{0:MM/dd/20yy}", new { @class = "date-picker", value = "DateTime.Now" })

            </div>
            <div class="form-group">
                <p>Agency</p>
                @Html.TextBoxFor(m => m.Agency, new { @class = "helper-format", style = "font-size: .9em, width: 20em ", value = "m.Agency" })
            </div>
            <div class="form-group">
                <p>Judge</p>
                @Html.TextBoxFor(m => m.Judge, new { @class = "helper-format", style = "font-size: .9em, width: 20em ", value = "m.Judge" })
            </div>
            <div class=" btn-group">
                <div class="SaveButton">
                    <input id="SaveButton" name="SaveButton" type="submit" value="Save" class="btn btn-primary">
                </div>
                <div>
                    <input type="button" class="btn btn-primary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Case") + "'");" />
                </div>
            </div>
</fieldset>
    }
</div>
